<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.of.k.mapper.GiftServiceMapper">
	
	<resultMap id="GiftResult" type="app.of.k.dto.Gift">
		<result property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="description" column="discription"/>
		<result property="price" column="price"/>
		<result property="categoryId" column="categoryId"/>
	</resultMap>
	
	<select id="getGifts" parameterType="app.of.k.dto.Gift" resultMap="GiftResult">
		select 
			id,
			name,
			description,
			price,
			categoryId
		from 
			gift
		where
			1=1
			<if test="id != null">
			and id = #{id}
			</if>
			<if test="categoryId != null">
			and categoryId = #{categoryId}
			</if>
		order by
			id
	</select>
	
	<select id="getGift" parameterType="String" resultMap="GiftResult">
		select 
			id,
			name,
			description,
			price,
			categoryId
		from 
			gift
		where
			id = #{id}
	</select>
	
</mapper>